          h2 {
          	color: green;
          	padding-top: 10px;
            padding-bottom: 10px;
          }

          .titre3:before, #bloc_competences p:before, #bloc_accomplissement p:before{
          	content: url(/home/laurent/Images/pointe.png);
            padding-left: 10px;
            padding-right: 10px;
          }

        
          .bloc_page{
            width: auto;
            margin: auto;
          }

          #competences:before{
            content: url(competences.png);
            float: left;
            padding-left: 10px;
            padding-right: 10px;
          }

          #experience:before{
            content: url(experience.png);
            float: left;
            padding-left: 10px;
            padding-right: 10px;
          }

          #formation:before{
            content: url(formation.png);
            float: left;
            padding-left: 10px;
            padding-right: 10px;
          }

          #accomplissement:before{
            content: url(accomplissement.png);
            float: left;
            padding-left: 10px;
            padding-right: 10px;
          }

          .banniere{
            margin-top: 10px;
            border-radius: 5px;
            position: relative;
            box-shadow: 0px 10px 10px black;
            margin-bottom: 25px;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            background-origin: content-box;
            background-image: radial-gradient(circle at top left, white, green);
          }

          .presentation{
            padding-left: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
          }

          #identite{
            font-size: 30px;
            color: green;
          }

          .photo{
          	float: right;
          	padding-right:10px;
          	width:128px;
            height:156px;
          }

          .decalage{
          	padding-left: 35px;
          }

          .decalage:hover{
          	background-image: radial-gradient(circle at top left, white, green);
          	border-radius: 5px;
          }
